* {
    margin: 0;

    padding: 0;
    outline: 0;

    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    /* background-color: #1232cc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%231232CC' width='11' height='11'/%3E%3Crect fill='%231534cd' x='10' width='11' height='11'/%3E%3Crect fill='%231835cd' y='10' width='11' height='11'/%3E%3Crect fill='%231b37ce' x='20' width='11' height='11'/%3E%3Crect fill='%231e39cf' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23203ad0' y='20' width='11' height='11'/%3E%3Crect fill='%23223cd0' x='30' width='11' height='11'/%3E%3Crect fill='%23253ed1' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23273fd2' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%232941d2' y='30' width='11' height='11'/%3E%3Crect fill='%232b43d3' x='40' width='11' height='11'/%3E%3Crect fill='%232d44d4' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%232f46d4' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%233047d5' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%233249d6' y='40' width='11' height='11'/%3E%3Crect fill='%23344ad6' x='50' width='11' height='11'/%3E%3Crect fill='%23364cd7' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23384ed8' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23394fd8' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%233b51d9' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%233d52da' y='50' width='11' height='11'/%3E%3Crect fill='%233e54da' x='60' width='11' height='11'/%3E%3Crect fill='%234055db' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%234257db' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%234358dc' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23455add' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23465bdd' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23485dde' x='70' width='11' height='11'/%3E%3Crect fill='%234a5ede' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%234b60df' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%234d62e0' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%234e63e0' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%235065e1' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%235166e1' x='80' width='11' height='11'/%3E%3Crect fill='%235368e2' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%235469e2' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23566be3' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23586ce3' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23596ee4' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%235b6fe4' x='90' width='11' height='11'/%3E%3Crect fill='%235c71e5' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%235e72e5' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%235f74e6' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%236175e7' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%236277e7' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%236478e8' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23657ae8' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23677be9' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23687de9' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%236a7ee9' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%236b80ea' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%236d81ea' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%236e83eb' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%237084eb' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%237186ec' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%237387ec' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%237489ed' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23768aed' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23778cee' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23798DEE' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

    background-color: #073788;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg fill-opacity='0.8'%3E%3Crect fill='%23073788' width='11' height='11'/%3E%3Crect fill='%2309398a' x='10' width='11' height='11'/%3E%3Crect fill='%230a3b8c' y='10' width='11' height='11'/%3E%3Crect fill='%230c3c8e' x='20' width='11' height='11'/%3E%3Crect fill='%230d3e90' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%230f4092' y='20' width='11' height='11'/%3E%3Crect fill='%23104294' x='30' width='11' height='11'/%3E%3Crect fill='%23114496' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23134698' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%2314479a' y='30' width='11' height='11'/%3E%3Crect fill='%2315499c' x='40' width='11' height='11'/%3E%3Crect fill='%23174b9e' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23184da0' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23194fa2' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%231b51a4' y='40' width='11' height='11'/%3E%3Crect fill='%231c53a5' x='50' width='11' height='11'/%3E%3Crect fill='%231d54a7' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%231e56a9' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%231f58ab' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23215aad' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23225caf' y='50' width='11' height='11'/%3E%3Crect fill='%23235eb1' x='60' width='11' height='11'/%3E%3Crect fill='%232460b3' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%232662b5' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%232764b7' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%232866b9' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%232968bb' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%232a6abd' x='70' width='11' height='11'/%3E%3Crect fill='%232c6bbf' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%232d6dc1' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%232e6fc3' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%232f71c5' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%233073c7' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%233275c9' x='80' width='11' height='11'/%3E%3Crect fill='%233377cb' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%233479cd' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23357bcf' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23377dd0' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23387fd2' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%233981d4' x='90' width='11' height='11'/%3E%3Crect fill='%233b83d6' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%233c85d8' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%233d87da' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%233e89dc' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23408bde' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23418de0' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23428fe2' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%234491e4' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%234593e6' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%234695e8' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%234897ea' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%234999ec' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%234a9cee' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%234c9eef' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%234da0f1' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%234ea2f3' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%2350a4f5' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%2351a6f7' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%2353a8f9' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%2354AAFB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: Comic Sans MS;
}
.container {
    width: 98%;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.superior {
    background-color: #351658;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23AB2AE2'/%3E%3Cstop offset='1' stop-color='%23351658'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23691e9f'/%3E%3Cstop offset='1' stop-color='%23351658'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform='translate(0 570)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-198 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.15' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    align-items: center;
    display: flex;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* border-radius: 30px;*/
    border: 1px solid white;
    border-top: 0px;

    height: 200px;
    width: 100%;
}

.logo {
    float: left;
    background-color: rgba(180, 41, 41, 0);
    width: 240px;
    height: 205px;
    background-color: #be101000;
    padding: 25px;
    margin-left: 20px;
}
.menu {
    background-color: rgba(255, 255, 255, 0);
    width: 80%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.btn-res {
    display: none;
}
.user {
    height: 130px;
    width: 140px;
    background-color: rgba(255, 255, 255, 0.384);
    margin-right: 40px;
    outline: 2px dashed rgb(255, 255, 255);
    border-radius: 20px;
}
.user img {
    height: 130px;
    width: 140px;
}

/* atributos del los botoes del menu */

.menu .btn-menu {
    color: rgb(0, 0, 0);
    border: 0;
    background-color: #f19721;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    font-family: Comic Sans MS;
    font-size: 20px;
    color: white;
}

.menu .btn-menu:hover {
    background-color: #f19721;
    border-bottom: dashed 3px white;
    border-top: dashed 3px white;
    color: white;
    transition: all 1200ms;
    transform: skew(-15deg) scalex(1);
}

/* atributos busqueda */

.caja_buscar {
    background-color: rgba(255, 0, 0, 0);
    width: 50px;
    height: 50px;
    margin-left: 1530px;
    margin-top: 19px;
}
.busqueda {
    position: absolute;
    padding: 5px;
    top: 221px;
    right: 306px;
    z-index: 4;
}

.busqueda input {
    width: 0px;
    height: 40px;
    padding: 0px 10px;
    margin-top: 1px;
    font-size: 12px;
    color: black;
    outline: none;
    border: 3px dashed #f19721;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.busqueda:hover input {
    width: 340px;
    height: 40px;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #f19721;
    line-height: 52px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}
#div-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 90px;
    width: auto;
}
@media (max-width: 990px) {
    .btn-res {
        color: rgb(0, 0, 0);
        border: 0;
        background-color: #f19721;
        border-bottom: solid 2px white;
        border-top: solid 2px white;
        width: 150px;
        height: 50px;
        border-radius: 10px;

        font-family: Comic Sans MS;
        font-size: 20px;
        color: white;
        display: block;
    }
    .menu .btn-res:hover {
        background-color: #f19721;
        border-bottom: dashed 3px white;
        border-top: dashed 3px white;
        color: white;
        transition: all 1200ms;
        transform: skew(-15deg) scalex(1);
    }
    .menu {
        background-color: rgba(127, 255, 212, 0);
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
        margin-right: 30px;
    }
    .user {
        display: grid;
    }
    .logo img {
        width: 140px;
        height: 140px;
    }
    .busqueda {
        right: 2rem;
    }
    #div-menu {
        margin-top: 300px;
        position: absolute;
        display: none;
        gap: 10px;
    }
}

@media (max-width: 851px) {
    .container {
        margin-top: -50px;
    }
}

/* El desplegable del boton de misión y visión */

.cat {
    background-color: transparent;
    border: transparent;
    position: fixed;
    z-index: 2;
    height: 200px;
    width: 400px;
    transform: rotate(90deg);
    left: -110px;

    top: 350px;
}

.cat:hover {
    background-color: transparent;
}

.gatoimg {
    height: 200px;
    width: 400px;
}
@media (max-width: 788px) {
    .gatoimg {
        width: 330px;
        height: 180px;
    }
}

ul {
    list-style: none;
}

.desplegable {
    margin-left: 300px;
    margin-top: -200px;
    transform: rotate(-90deg);
}
.desplegable .catt a {
    background-color: #f19721;
    color: white;
    font-family: Comic Sans MS;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    margin-left: 25px;
    width: 223px;
    height: 50px;
    border-bottom: dashed 3px white;
    border-top: dashed 3px white;
    color: white;
    transition: all 300ms;
    border-radius: 10px;
    display: block;
}

.desplegable .gato-l a:hover {
    background-color: rgb(255, 255, 255);
    color: #f19721;
}

.cat .gato-u {
    display: none;
    position: absolute;
}

.cat:hover > .gato-u {
    display: block;
}

/* redes flotantes */

.redes {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    width: 50px;
    height: 170px;
    right: 30px;
    top: 300px;
    gap: 10px;
    position: fixed;
    z-index: 999;
}
.redes img {
    height: 50px;
}

/* estilos pie*/

.pie {
    background-color: #351658;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23AB2AE2'/%3E%3Cstop offset='1' stop-color='%23351658'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23691e9f'/%3E%3Cstop offset='1' stop-color='%23351658'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(2000 0)'%3E%3Cg transform='translate(0 675)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-198 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.15' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    border: solid 1px white;
    border-bottom: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Comic Sans MS;

    gap: 10px;
    height: auto;
}

.niña {
    width: 230px;
    height: 250px;
    margin: 0 auto;
}

.niño {
    width: 230px;
    height: 250px;
    margin: 0 auto;
}

.abajo {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Comic Sans MS;
    display: flex;

    align-items: center;
}

.content_footer {
    background-color: #0202028a;
    display: flex;
    gap: 100px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 20px;
    border-bottom: dashed 4px white;
    border-left: dashed 4px white;
    border-radius: 20px;
    color: white;
}

/* .content_footer ul, */
.content_footer .fuu-l {
    /* height: 60px;
    width: 300px; */
    padding: 10px;
    background-color: #2b8f4100;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.content_footer .fuu-u img {
    width: 50px;
}

button {
    cursor: pointer;
}
@media (max-width: 768px) {
    .content_footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .pie {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
