#DivformularioDegrees {
    display: none;
    flex-direction: column; /* El formulario estará oculto inicialmente */
    background-color: #cfdbddaf;
    border: solid 3px white;
    position: relative;
    outline: 12px dashed #f19721cc;
    border-radius: 30px;
    margin-top: 50px;
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
}

#DivformularioDegreesEdit {
    display: flex;
    flex-direction: column;
    /* El formulario estará oculto inicialmente */
    background-color: #cfdbddaf;
    border: solid 3px white;
    align-items: center;
    justify-content: center;
    outline: 12px dashed #f19721cc;
    border-radius: 30px;
    margin: 100px auto;
    width: 1200px;
}

#DivformularioDegrees h1,
#DivformularioDegreesEdit h1 {
    background-color: rgba(0, 0, 139, 0);
    color: blue;
}

#DivformularioDegrees form,
#DivformularioDegreesEdit form {
    background-color: rgba(95, 91, 91, 0);
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
}

#DivformularioDegrees form input,
#DivformularioDegreesEdit form input {
    width: 600px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    border: 0px;
    border-bottom: 3px solid rgb(75, 124, 196);
    padding: 20px;
}

#DivformularioDegrees form .input-image,
#DivformularioDegreesEdit form .input-image {
    width: 15px;
    height: 15px;
    position: relative;
    top: 30px;
    left: 100px;
}

#DivformularioDegrees form div,
#DivformularioDegreesEdit form div {
    background-color: rgba(255, 255, 255, 0.467);
    border: solid 5px rgb(0, 128, 255);
    border-radius: 30px;
    display: flex;
    width: 1150px;
    justify-content: center;
    margin: 0px 20px;
    height: 250px;
    padding-right: 15px;
}

#DivformularioDegrees form div img,
#DivformularioDegreesEdit form div img {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: solid 2px rgba(0, 89, 255, 0);
    padding: 10px;
}

.btnCrear {
    padding: 10px 40px;
    border: solid 2px white;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    background-color: #f19721;
    color: white;
    transition: all 900ms;
    border-radius: 10px;
    height: 50px;
    width: 160px;
}

.btnCrear:hover {
    color: #f19721;
    background-color: white;
    border: solid 2px #f19721;
}

.btnCerrarFormEdit {
    padding: 10px 40px;
    border: solid 2px white;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    background-color: #f12121;
    color: white;
    transition: all 900ms;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin-bottom: 50px;
}

.btnCerrarFormEdit:hover {
    color: #f12121;
    background-color: white;
    border: solid 2px #f12121;
}

#btnCerrarFormulario {
    border: solid 2px rgba(255, 255, 255, 0);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #f1972100;
    color: white;
    transition: all 900ms;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    bottom: 860px;
    left: 540px;
    position: relative;
}

#btnMostrarFormulario {
    height: 70px;
    width: 265px;
    border: 0px;
    background-color: #f19721;
    color: white;
    border-radius: 20px;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 10px;
}

#btnMostrarFormulario img {
    height: 100px;
    width: 100px;
}

#btnMostrarFormulario:hover {
    color: #3ba1da;
    background-color: rgba(255, 255, 255, 0.486);
    border: solid;
    color: #f19721d0;
}

/* ///////////////////////////////////

FORMULARIO DE ASIGNATURAS

////////////////////////////////// */

#DivFormAsignaturas {
    display: none; /* El formulario estará oculto inicialmente */
    background-color: #cfdbddaf;
    border: solid 3px white;
    position: relative;
    outline: 12px dashed #f19721cc;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 100px;

    width: 800px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

#DivFormAsignaturas form {
    background-color: rgba(255, 12, 12, 0);
    display: flex;
    width: auto;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}

#DivFormAsignaturas form input {
    width: 600px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    border: 0px;
    border-bottom: 3px solid rgb(75, 124, 196);
    padding: 20px;
}

#DivFormAsignaturas form label {
    font-size: 25px;
    font-weight: 900;
    color: rgb(75, 124, 196);
}

#btnMostrarFormularioAsignatura {
    height: 70px;
    width: 265px;
    border: 0px;
    background-color: #f19721;
    color: white;
    border-radius: 20px;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 10px;
    transition: all 600ms;
}

#btnMostrarFormularioAsignatura:hover {
    color: #3ba1da;
    background-color: rgba(255, 255, 255, 0.486);
    border: solid;
    color: #f19721d0;
}

#btnCerrarFormularioAsignaturas {
    border: solid 2px rgba(255, 255, 255, 0);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #f1972100;
    color: white;
    transition: all 600ms;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    bottom: 530px;
    left: 350px;
    position: relative;
}

.btnCrearAsignatura {
    padding: 10px 40px;
    border: solid 2px white;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    background-color: #f19721;
    color: white;
    transition: all 900ms;
    border-radius: 10px;
    height: 50px;
    width: 160px;
}

.btnCrearAsignatura:hover {
    color: #3ba1da;
    background-color: rgba(255, 255, 255, 0.486);
    border: solid;
    color: #f19721d0;
}

select {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 0px;
    border-bottom: 3px solid rgb(75, 124, 196);
    padding: 20px;
    appearance: none;
    background-color: #fff;
}

select option {
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(230, 223, 223);

    font-family: Comic Sans MS;
}

/* //////////////////////// */

.FormAsignaturas {
    background-color: #cfdbddaf;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    border: solid 3px white;
    padding: 100px;
    outline: 12px dashed #f19721cc;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.FormAsignaturas button {
}

.FormAsignaturas input {
    width: 600px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    border: 0px;
    border-bottom: 3px solid rgb(75, 124, 196);
    padding: 20px;
}

.FormAsignaturas .fileAsignatura {
    width: 600px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: 30px black;
    color: blue;
}

/* ///////////////////////// */
