.grados {
    width: 1600px;
    height: auto;
    background-color: rgba(246, 0, 0, 0);
    margin: 50px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 160px 100px;
}

@media (max-width: 768px) {
    .grados {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1300px) {
    .grados {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }
}

.grados div .a-content {
    width: 250px;
    height: 420px;
    background-color: #05050588;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: solid 2px rgb(228, 225, 225);
    border-radius: 100px 0px 50px 0px;
    color: white;
}

.grados div a:hover {
    background-color: rgba(255, 255, 255, 0.281);
    border: solid 2px #f19721;
}

.grados div img {
    width: 150px;
    height: 150px;
}

.grados div hr {
    border: solid 2px;

    width: 200px;
}

.grados div p {
    width: 200px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding-left: 8px;
}

.grados div .delete-edit {
    position: absolute;
    background-color: #f3fbff;
    margin-top: 30px;
    height: 50px !important;
    border-radius: 50px;
    border: 0px;
    display: flex;
    align-items: center;
    gap: 70px;
    width: 250px;
    justify-content: center;
}

.añadir_grados {
    height: 70px;
    width: 180px;
    background-color: #f19721;
    color: white;
    border-radius: 20px;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 10px;
}

.añadir_grados:hover {
    color: #3ba1da;
    background-color: rgba(255, 255, 255, 0.486);
    border: solid;
    color: #f19721d0;
}
.añadir_grados img {
    height: 98px;
    width: 100px;
}

.content-degrees {
    background-color: #f19721;
}
