.perfil {
    background-color: rgba(141, 102, 102, 0.015);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subir {
    background-color: rgba(255, 5, 5, 0);
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 400px;
    width: 600px;
    align-items: center;
    margin-top: 50px;
}

.subir div {
    background-color: rgba(0, 0, 255, 0);
    margin-bottom: 150px;
}

.subir div form {
    background-color: rgba(0, 0, 255, 0);
    width: 100px;
    height: 100px;
}

.subir div form button,
.FormAsignaturas button,
.actividad button {
    padding: 10px 0px;
    border: solid 2px white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: #f19721;
    color: white;
    transition: all 900ms;
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

.subir div form button:hover,
.FormAsignaturas button:hover,
.actividad button:hover {
    color: #3ba1da;
    background-color: rgba(255, 255, 255, 0.486);
    border: solid;
    color: #f19721d0;
}

#button_desplegable_perfil {
    background-color: #f19721;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    width: 30px;
    height: 200px;
    left: -3px;
    top: 450px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    position: fixed;
    align-items: center;
}

#button_desplegable_perfil ul {
    height: 120px;
    width: 500px;
    margin-left: 80px;
    background-color: rgba(253, 253, 253, 0);

    display: none;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-family: Comic Sans MS;
}

/* #button_desplegable_perfil:hover > ul {
    display: block;
  } */

#button_desplegable_perfil li {
    background-color: rgba(253, 253, 253, 0.397);
    border: solid 2px black;
    height: 60px;
    width: 200px;
    color: #f19721;
    font-weight: 900;
    margin-top: 10px;
}

#button_desplegable_perfil li .text-perfil {
    margin-top: 10px;
}

.foto_perfil {
    background-color: rgba(0, 0, 0, 0.418);

    border-bottom: solid 3px white;
    height: 230px;
    width: 1000px;
    display: flex;
    justify-content: center;
}

.foto {
    background-color: rgba(0, 0, 255, 0);
    background-image: url(/img/foto.png);
    background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;

    margin-top: -100px;

    border-radius: 100px;
    border: solid 5px white;
}
.foto img {
    border-radius: 100px;
}
.foto_perfil .text-perfil {
    color: wheat;
    position: absolute;
    margin-top: 110px;
    font-size: 20px;
    gap: 150px;
    display: flex;

    background-color: rgba(255, 0, 0, 0);
}

.foto_perfil .text-perfil span {
    color: #f19721;
    font-weight: bold;
}

.tuerca {
    background-color: rgba(247, 10, 10, 0);
    width: 5%;
    height: 50px;
    margin-left: 710px;
    margin-top: 145px;
    position: absolute;
    z-index: 2;
}
.foto_perfil .tuerca img {
    width: 50px;
    height: 50px;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}

.tuerca img:hover {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.foto_perfil .tuerca #desplegable_tuerca {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 155px;

    justify-content: center;
    position: relative;
    left: -80px;
    border-radius: 10px;
}
.foto_perfil .tuerca #desplegable_tuerca li {
    background-color: rgba(255, 0, 0, 0);
    width: 200px;
    height: 50px;

    /* border: solid 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0274be;
    font-size: 15px;
}

.foto_perfil .tuerca #desplegable_tuerca li:hover {
    color: #00aeff;

    border-radius: 10px;
}

.publicaciones {
    background-color: #f19721;

    height: 60px;
    width: 1000px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.publicaciones button {
    display: flex;
    gap: 5px;
    width: 140px;
    border-radius: 5px;
    height: 45px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background-color: #3ba1da;
    border: 0;
    margin-left: 350px;
}
